* {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Roboto", sans-serif;
}
/* .walpapper {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
} */

ul {
  list-style: none;
  padding-left: 0;
}
ul li {
  font-weight: bold;
  padding: 8px;
  border-bottom: 1px solid white;
}
a {
  text-decoration: none;
}
/* Banner */
.background--banner {
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.banner {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  overflow: hidden;
  position: absolute;
  background-color: black;
  background: linear-gradient(
    0deg,
    rgb(0, 0, 0) 0%,
    rgba(0, 0, 0, 0.9) 1%,
    rgba(0, 0, 0, 0) 59%,
    rgba(0, 0, 0, 1) 100%
  );
}
.img-details {

  border-radius: 8px;
  mask-image: linear-gradient(to bottom, transparent, black);
  -webkit-mask-image: linear-gradient(to top, transparent, black);
}

/* Menu */
.menu {
  width: 95%;
  margin-inline: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 5px;
  font-size: 15px;
}
.navegacion {
  padding-top: 10px;
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 15px;
}
@media (min-width: 400px) {
  .navegacion {
    gap: 15px;
  }
}
/* Menu izquierda */
.logo {
  width: 90px;
  height: 40px;
}
@media (min-width: 768px) {
  .logo {
    width: 110px;
    height: 60px;
  }
}
/* imagotipo */
.imagotipo {
  margin-inline: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 10;
  position: absolute;
  bottom: 0;
  top: 0;
}
.imagotipo--imagen {
  min-width: 500px;
}
.imagotipo--info {
  display: flex;
  align-items: center;
  gap: 20px;
}
.imagotipo--info p {
  border-radius: 5px;
  font-size: 16px;
  font-weight: 700;
  padding: 5px 12px;
}
.imagotipo--info p:nth-child(1) {
  border: 1px solid white;
  background-color: rgb(15, 12, 12);
  cursor: pointer;
}
.imagotipo--info p:nth-child(2) {
  border: 1px solid #6d6d63b3;
  background-color: #6d6d63b3;
  cursor: pointer;
  color: white;
}
.imagotipo--info p:nth-child(1):hover,
.imagotipo--info p:nth-child(2):hover {
  background-color: transparent;
  color: white;
}
